<div class="grid-container">
    <div class="grid-item">
        <p>Visibilità {{visibilita}}Mt</p>
        <span class="material-icons-outlined">
            <mat-icon>visibility</mat-icon>
            </span>
    </div>
    <div class="grid-item">
        <p>Vento {{vento}}Km/h</p>
        <span class="material-icons-outlined">
            <mat-icon>air</mat-icon>
            </span>
    </div>
    <div class="grid-item">
        <p>Pressione {{pressione}}</p>
        <span class="material-icons-outlined">
            <mat-icon>compress</mat-icon>
            </span>
    </div>
    <div class="grid-item">
        <p>Umidita {{umidita}}%</p>
        <span class="material-icons-outlined">
            <mat-icon>pool</mat-icon>
            </span>
    </div>
</div>
